/* 
    off-white-green: #cdd1c0
    light-green: #a2c67c
    green: #649543
    dark-green: #30632a
    light-gray: #c4c3bf

    inspired by: https://9artprints.com/cdn/shop/files/after-josef-albers-grove-homage-to-the-square-premium-giclee-print-mid-century-modern-art-print-in-green-white-available-framed-1x1-923422.jpg
*/
* {
    background-color: #fbf7f5;
}